
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="upper">
<div class="vertical-div" >
    <p style="padding-left:75px;padding-top:50px;font-family: cursive;font-size: 50px;text-align: center;color:#394867;"><b>Book n meet Doctor...!</b></p>
    <br>
    <h2 style="text-align: center;padding-left: 50px ;color:#394867;">India's best online appointment scheduling platform</h2><br>
    <p style="padding-left: 60px;padding-top:30px;font-size: 30px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:#15133C;">Very Easy to book,maintain history.Hassel free from</p>
    <p style="padding-left: 50px;padding-top:10px;font-size: 30px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:#15133C;">older versions of booking appointment via telephone </p>
    <p style="padding-left: 50px;padding-top:10px;font-size: 30px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:#15133C;">or in person.</p>
    <br><br><b><br></b><br>
    
    <div style="align-self:flex-start;padding-top:20px ;padding-left: 20px;margin-top:20px;margin-left: 100px ;">
    <i class="fa fa-user-md icon" aria-hidden="true" style="font-size: 36px;padding-left:0;margin-right:10px;"></i><strong>Verified Doctors</strong>
     <i class="fa fa-file-text" aria-hidden="true" style="font-size:36px ;padding-left:30px ;margin-right:10px;"></i><strong>Digital Prescription</strong>    
     <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size:36px;padding-left:30px;margin-right:10px;"></i><strong>Free Followup</strong>          
  </div>
</div>
<div class="vertical-div ">
       <img src="https://img.freepik.com/free-vector/hospital-service-concept-flat-illustration_1150-50287.jpg?size=626&ext=jpg&ga=GA1.2.2044388051.1696316840&semt=sph" style="padding-top:20px;">
    </div>
</div>
<div class="middle">
 <p style="padding-left: 50px;padding-top:50px;font-family: Verdana;font-size: 30px;color:#394867;"><b>Consult top doctors online for any health concern</b></p>
 <h2  style="padding-left: 50px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:#394867;"><b>Book Appointment with verified Doctors in all specialists</b></h2>
   <div id="image-div1">
     <div id="fifth">
          <img class="img1" src="https://www.practostatic.com/consult/consult-home/symptoms_icon/irregular-painful+period.png">
          <p class="imagepara">Period doubts & Pregnacy</p>
          <button class="button button4"><strong><a routerLink="Login" style="color:white;text-decoration:none">consult now</a><i class="fa fa-angle-double-right" aria-hidden="true" style="padding-left: 10px;"></i></strong></button>
     </div>
    <div id="sixth">
        <img class="img1" src="https://www.practo.com/consult/static/images/top-speciality-pediatric.svg">
        <p class="imagepara">Pediatrics</p>
        <button class="button button4"><strong><a routerLink="Login" style="color:white;text-decoration:none">consult now</a><i class="fa fa-angle-double-right" aria-hidden="true" style="padding-left: 10px;"></i></strong></button>
    </div>
    <div id="seventh">
         <img class="img1" src="https://www.practostatic.com/consult/consult-home/symptoms_icon/coughing.png">
         <p class="imagepara">Cold, Cough and Fever</p>
         <button class="button button4"><strong><a routerLink="Login" style="color:white;text-decoration:none">consult now</a><i class="fa fa-angle-double-right" aria-hidden="true" style="padding-left: 10px;"></i></strong></button>
   </div>
   <div id="eighth">
      <img class="img1" src="https://www.practo.com/consult/static/images/top-speciality-gp.svg">
      <p class="imagepara">General Physician</p>
      <button class="button button4"><strong><a routerLink="Login"  style="color:white;text-decoration:none">consult now</a><i class="fa fa-angle-double-right" aria-hidden="true" style="padding-left: 10px;"></i></strong></button>
   </div>
   <div id="nineth">
    <img class="img1" src="https://www.practo.com/consult/static/images/top-speciality-stomach.svg">
    <p class="imagepara">Stomach and Digestion</p>
    <button class="button button4"><strong><a routerLink="Login" style="color:white;text-decoration:none">consult now</a><i class="fa fa-angle-double-right" aria-hidden="true" style="padding-left: 10px;"></i></strong></button>
   </div>
  </div>
</div>
<div>

</div>
<div class="last">
     <p style="padding-left:75px;padding-top:50px;font-family:Verdana;font-size: 30px;color:#394867;"><b>Benefits of online Appointment booking</b></p>
     <div class="benefits" >
     <div id="l1">
      <p style="padding-left:0;padding-top: 60px;color:#394867;font-size:25px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      <b><i class="fa fa-check" aria-hidden="true"style="padding-left: 70px;padding-top: 30px;color:#394867;padding-right:10px;" ></i>Book appointment 24X7</b></p>
      <p style="padding-left: 90px;padding-top: 10px;font-size: 20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Book Appointment instantly with   </p>
      <p style="padding-left: 150px;font-size: 20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">a 24x7 specialist. </p>
     
    </div>
    <div id="l2">
      <p style="padding-left:0;padding-top: 60px;color:#394867;font-size:25px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      <b><i class="fa fa-check" aria-hidden="true"style="padding-left: 70px;padding-top: 30px;color:#394867;padding-right:10px;" ></i>100% Data Privacy</b></p>
      <p style="padding-left: 60px;padding-top: 10px;font-size: 20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Be assured that your online Data </p>
      <p style="padding-left: 60px;font-size: 20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">  will be fully private and secured.</p>
    </div>
    <div id="l3">
      <p style="padding-left:0;padding-top: 60px;color:#394867;font-size:25px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      <b><i class="fa fa-check" aria-hidden="true"style="padding-left: 70px;padding-top: 30px;color:#394867;padding-right:10px;" ></i>Convenient And Easy</b></p>
      <p style="padding-left: 70px;padding-top: 10px;font-size: 20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Easy to book appointment within</p>
      <p style="padding-left: 90px;font-size: 20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> 2 min without any problem. </p>
    </div>
  </div >
  
</div>
<div class="last2">
     <div id="ll1">
        <p style="padding-left:75px;padding-top:50px;font-family:Verdana;font-size: 30px;color:white" ><b>Still delaying your health concerns ?</b></p>
        <p  style="padding-left:75px;padding-top:50px;font-family:Verdana;font-size: 20px;color:white">Book Appointment now...!</p>
     </div>
     <div id="ll2">
      <button class="button button4 button3"><strong><a href="" style="color:white;text-decoration:none;font-size:20px ;">consult now</a><i class="fa fa-angle-double-right" aria-hidden="true" style="padding-left: 10px;"></i></strong></button>
     </div>
</div>