
<div class="top" style="text-align: center;padding-top: 50px;">
    <p style="font-family: cursive;font-size: 50px;padding-top: 70px;color:#394867;"><b>Our Mission</b></p>
    <p style="font-size: 20px; padding-top: 50px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:#394867;"><b>At HealthEase, our mission is to empower individuals to take control of their health and well-being through accessible and reliable information.</b></p>
    <p style="font-size: 20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:#394867;"><b>We are committed to providing a comprehensive online platform that educates, supports, and connects users with</b></p>
    <p style="font-size:20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:#394867; "><b>The resources they need to make informed decisions about their healthcare.</b></p>
</div>
<div class="middle">
    <div id="m1">
       <h1 style="padding-top: 200px; font-family: cursive;font-size: 40px;color:#394867;"><b>Health is a Habit</b></h1>
       <p style="padding-top: 50px;font-size: 20px;">It is the journey that takes you to new destinations every day </p>
        <p style="font-size: 20px;">with endless possibilities of life on the back of happiness, energy,</p>
       <p style="font-size: 20px;"> hope.Practo wants to make this journey easy for every Indian  </p>
       <p style="font-size: 20px;">and help them live healthier and longer lives.</p>
    </div>
    <div id="m2">
      <img style="padding-top:30px; height: 500px;" src="https://img.freepik.com/free-vector/woman-spending-time-living-room_1308-104698.jpg">
    </div>
</div>