<mat-toolbar color=#81F5FF class="mat-elevation-z8">
    <span style="margin-left:10px;font-family:cursive;font-size: larger;color: #394867;"><mat-icon color="accent" style="margin-right:10px  ;">medication</mat-icon><b>HealthEase</b></span>
    <div class="spacer"></div>
    
    <a mat-button routerLink="home" style="font-size:18px;margin-right:30px ;color: #394867;"><b>Home</b></a>
    <a mat-button routerLink="home" style="font-size:18px;margin-right:30px ;color: #394867;"><b>Profile</b></a>
    <a mat-button routerLink="" style="font-size:18px;margin-right:40px ;color: #394867;" ><b>Appointments</b></a>
    <a mat-button routerLink="Logout" style="font-size:18px;margin-right:30px ;color: #394867;"><b>Logout</b></a>
    
  </mat-toolbar>
