<div class="container">
  <!-- Image Section -->
  <div class="image-section">
    <img src="https://img.freepik.com/free-vector/gradient-medical-twitch-banner_23-2149169419.jpg" alt="Website Image">
  </div>

  <!-- Info Section -->
  <div class="info-section">
    <div class="square">
      <div class="square-part">
        <img src="https://www.practostatic.com/consumer-home/desktop/images/1597423628/dweb_find_doctors.png" alt="Image 1">
      </div>
      <div class="square-part">
        <h2>Find Doctors Near You</h2>
        <p>Confirmed Appointments</p>
        <a routerLink="/doctors" class="button button4">Consult Now</a>
      </div>
    </div>

    <div class="square">
      <div class="square-part">
        <img src="https://img.freepik.com/premium-photo/stomach-disease-doctor-holding-anatomy-model-study-diagnosis-treatment-hospital_39768-10374.jpg?size=626&ext=jpg&ga=GA1.1.1328810428.1697615323&semt=sph" alt="Image 2">
      </div>
      <div class="square-part">
        <h2>Medicines</h2>
        <p>Get Medicals Near You</p>
        <a routerLink="/medicals" class="button button4">Consult Now</a>
      </div>
    </div>

    <div class="square">
      <div class="square-part">
        <img src="https://www.practostatic.com/consumer-home/desktop/images/1597423628/dweb_lab_tests.png" alt="Image 3">
      </div>
      <div class="square-part">
        <h2>Labs</h2>
        <p>Get Labs Near You</p>
        <a routerLink="/labs" class="button button4">Consult Now</a>
      </div>
    </div>
  </div>

  <!-- Horizontal Div After Scrolling -->
  <div class="horizontal-div">
    <p style="font-size: 30px; font-weight: 500;">Consult Now !!</p>
  </div>
</div>
